H1 {
	FONT-FAMILY: Microsoft Sans Serif, sans-serif
}
H2 {
	FONT-FAMILY: Microsoft Sans Serif, sans-serif
}
H3 {
	FONT-FAMILY: Microsoft Sans Serif, sans-serif
}
H4 {
	MARGIN-TOP: 0px; FONT-FAMILY: Microsoft Sans Serif, sans-serif; MARGIN-BOTTOM: 0px
}
H5 {
	MARGIN-TOP: 0px; FONT-FAMILY: Microsoft Sans Serif, sans-serif; MARGIN-BOTTOM: 0px
}
.disclaimer {
	FONT-FAMILY: 'Microsoft Sans Serif', sans-serif; FONT-SIZE: xx-small
}
BODY {
	FONT-FAMILY: Microsoft Sans Serif, sans-serif; BACKGROUND: white; COLOR: black; FONT-SIZE: 8pt
}
P {
	FONT-FAMILY: Microsoft Sans Serif, sans-serif; FONT-SIZE: 10pt
}
.normal {
	FONT-FAMILY: Microsoft Sans Serif, sans-serif; FONT-SIZE: 8pt
}
.writing {
	FONT-FAMILY: Microsoft Sans Serif, sans-serif; FONT-SIZE: 10pt
}
